* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #f6f8fc;
  color: #222;
  line-height: 1.6;
}
/* header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 0.5rem;
  width: 50px;
}
.nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

/* hero section styling */
.hero {
  text-align: center;
  margin: 2rem 1rem;
}
.hero h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.intro-text {
  max-width: 600px;
  margin: 0 auto 1.5rem;
  font-size: 1rem;
  color: #444;
}
.search-box {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
.search-box input {
  border: none;
  padding: 0.8rem 1rem;
  width: 250px;
  outline: none;
  font-size: 1rem;
}
.search-box button {
  border: none;
  background-color: #2563eb;
  color: #fff;
  padding: 0 1rem;
  cursor: pointer;
  font-size: 1.1rem;
}
/* country info styling */
.country-info {
  max-width: 1000px;
  margin: 2rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.hidden {
  display: none;
}
.spinner {
  display: block;
  width: 30px;
  height: 30px;
  border: 3px solid rgb(97, 97, 223);
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.country-top {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.flag-container img {
  width: 180px;
  border: 8px;
  border: 1px solid #eee;
}

/* info grid styling */
.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.info-card {
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.info-card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #555;
}
.info-card .value {
  font-size: 1.3rem;
  font-size: 600;
  color: #2563eb;
}
.neighbors span,
.languages span {
  background-color: #e5e7eb;
  border-radius: 5px;
  padding: 0.3rem 0.7rem;
  margin: 0.2rem;
  margin-bottom: 7px;
  display: block;
  font-size: 0.9rem;
}
/* country fact-box styling */
.fact-box {
  background-color: #e7f0ff;
  border-left: 4px solid #2563eb;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 8px;
}
/* footer styling */
.footer {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  padding: 2rem 1rem;
  margin-top: 3rem;
}

/* responsive design with media query */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .nav a {
    margin: 0.5rem;
    display: inline-block;
  }
  .nav h1 {
    font-size: 1.7rem;
  }
  .intro-text {
    font-size: 0.95rem;
  }
  .search-box input {
    width: 180px;
    padding: 0.7rem;
  }
  .country-info {
    padding: 1.5rem;
  }
  .info-card {
    padding: 0.8rem;
  }
}
@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.5rem;
  }
  .intro-text {
    font-size: 0.9rem;
  }
  .search-box input {
    width: 180px;
  }
  .flag-container img {
    width: 120px;
  }
  .info-grid {
    grid-template-columns: 1fr;
  }
  .languages span {
    display: block;
  }
}
